@model pizzashop.Models.ViewModels.AddnewUserViewModel
@inject pizzashop.Service.dropdownService dservice
@{
    var alredyexist = TempData["alredyexist"] as string;
}
<div
    style="display: flex; width: 100%;height: 7%;justify-content: space-between;padding-top: 50px;align-items: center;">
    <h1 style="margin-left: 5.2%;color: #006cac;">Add New User</h1>
    <div style="padding-right: 5.2%;">
        <button onclick="window.location.href='@Url.Action("userlist","Account")'"
            style="border: 1px solid skyblue;background-color: white;color: #006cac; width: 80px;height: 42px;margin-bottom: 2px;">
            < Back </button>

    </div>
</div>

<div style="display: flex;justify-content: center;margin-top: 20px;">
    <div class="row container-fluid shadow" style="width: 90%;background-color: #F8F9FA;margin-top: 15px;">
        <form asp-action="addnewuser" enctype="multipart/form-data" method="post"
            style="margin-top: 30px;margin-bottom: 10px;">
            <div class="row container-fluid">
                <div class="form-floating col adduser-form-coloumn " style="margin-top: 15px;">
                    <input asp-for="FirstName" type="text" class="form-control" id="floatingInputfirstname"
                        placeholder="name@example.com">
                    <label for="floatingInputfirstname" style="margin-left: 10px;">First Name</label>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating col adduser-form-coloumn " style="margin-top: 15px;">
                    <input asp-for="LastName" type="text" class="form-control" id="floatingInputlastname"
                        placeholder="name@example.com">
                    <label for="floatingInputlastname" style="margin-left: 10px;">Last Name</label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

            </div>
            <div class="row container-fluid">
                <div class="form-floating col adduser-form-coloumn " style="margin-top: 15px;">
                    <input type="text" asp-for="UserName" class="form-control" id="floatingInputusername"
                        placeholder="name@example.com">
                    <label for="floatingInputusername" style="margin-left: 10px;">User Name</label>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-floating col adduser-form-coloumn " style="margin-top: 15px;">

                    <select asp-for="RoleId" id="role" class="form-control">

                        <option value="1">Admin</option>
                        <option value="2">Account Manager</option>
                        <option value="3">Chef</option>
                    </select>
                    <span asp-validation-for="RoleId" class="text-danger"></span>

                    <label for="role" style="margin-left: 10px;">Role</label>

                </div>

            </div>
            <div class="row container-fluid">
                <div class="form-floating col adduser-form-coloumn " style="margin-top: 15px;">
                    <input asp-for="Email" type="email" class="form-control" id="floatingInputemail"
                        placeholder="name@example.com">
                    <label for="floatingInputemail" style="margin-left: 10px;">Email</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating col adduser-form-coloumn " style="margin-top: 15px;">
                    <input asp-for="Password" type="password" class="form-control" id="floatingInputpass"
                        placeholder="name@example.com">
                    <label for="floatingInputpass" style="margin-left: 10px;">password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

            </div>
            @* <div
                                style="margin-top: 10px;border: 1px dotted black; width: 97%;height: 90px;margin-left: 0.8%;display: flex;justify-content: center;align-items: center;">
                                <div>
                                    <div style="margin-left: 40%;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-cloud-arrow-up" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708z" />
                                            <path
                                                d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                                        </svg>
                                    </div>
                                    <p>Browse files</p>
                                </div>
                            </div> *@

            <!-- Profile Image Upload Section -->
            <div
                style="margin-top: 10px;border: 1px dotted black; width: 97%;height: 90px;margin-left: 0.8%;display: flex;justify-content: center;align-items: center;">
                <div>
                    <div style="text-align: center;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-cloud-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708z" />
                            <path
                                d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                        </svg>
                    </div>
                    <div style="text-align: center; margin-top: 5px;">
                        <input asp-for="ProfileImage" type="file" id="profileImageInput" accept=".jpg,.jpeg"
                            class="form-control" style="display: none;">
                        <label for="profileImageInput" class="btn btn-outline-primary" style="cursor: pointer;">Browse
                            Files (JPG only)</label>
                        <p id="selectedFileName" style="margin-top: 5px; font-size: 0.8rem;"></p>
                        <span asp-validation-for="ProfileImage" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!-- Image preview -->
            <div id="imagePreview" style="margin-top: 10px; text-align: center; display: none;">
                <img id="previewImg" src="#" alt="Preview"
                    style="max-width: 150px; max-height: 150px; border-radius: 5px;" />
            </div>
            <!--over-->

            <div class="row container-fluid">
                <div class="form-floating col adduser-form-coloumn2" style="margin-top: 15px;">




                    <select asp-for="CountryId" asp-items="dservice.GetCountries()" class="form-control">
                        <option value="">Select State</option>
                    </select>
                    <span asp-validation-for="CountryId" class="text-danger"></span>


                </div>
                <div class="form-floating col adduser-form-coloumn2" style="margin-top: 15px;">


                    <select asp-for="StateId" class="form-control">
                        <option value="">Select State</option>

                    </select>
                    <span asp-validation-for="StateId" class="text-danger"></span>


                </div>
                <div class="form-floating col adduser-form-coloumn2" style="margin-top: 15px;">


                    <select asp-for="CityId" class="form-control">
                        <option value="">Select City</option>
                    </select>
                    <span asp-validation-for="CityId" class="text-danger"></span>

                </div>

            </div>






            <div class="row container-fluid">
                <div class="form-floating col adduser-form-coloumn2" style="margin-top: 15px;">
                    <input asp-for="Zipcode" type="number" class="form-control" id="floatingInputzipcode"
                        placeholder="name@example.com">
                    <label for="floatingInputzipcode" style="margin-left: 10px;">Zipcode</label>
                    <span asp-validation-for="Zipcode" class="text-danger"></span>
                </div>
                <div class="form-floating col adduser-form-coloumn2" style="margin-top: 15px;">
                    <input asp-for="Address" type="text" class="form-control" id="floatingInputadress"
                        placeholder="name@example.com">
                    <label for="floatingInputadress" style="margin-left: 10px;">Adress</label>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-floating col adduser-form-coloumn2" style="margin-top: 15px;">
                    <input asp-for="Phone" type="number" class="form-control" id="floatingInputphone"
                        placeholder="name@example.com">
                    <label for="floatingInputphone" style="margin-left: 10px;">Phone</label>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

            </div>

            <div style="margin-top: 20px;margin-bottom: 20px;margin-left: 10px;">

                <button type="submit" class="customBtnPrimary me-2" style="background-color: #006cac;color: white;">Add
                    New User</button>
                <button type="reset" class="customBtnSecondary"
                    style="background-color: white;border: 1px solid #006cac;color: #006cac;">cancel</button>
            </div>
        </form>

    </div>

</div>

@if (!string.IsNullOrEmpty(alredyexist))
{
    <script>
        toastr.error('@alredyexist');  // Display the error message using Toastr
    </script>
}






@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        $(document).ready(function () {

            var getStateUrl = '@Url.Action("GetStatesByCountry", "Account")';
            var getCityUrl = '@Url.Action("GetCitiesByState", "Account")';

            $('#CountryId').change(function () {
                var countryId = $(this).val();
                $("#StateId").empty().append('<option value="">Select State</option>');
                $("#CityId").empty().append('<option value="">Select City</option>');

                if (countryId) {
                    $.ajax({
                        url: getStateUrl,
                        type: 'GET',
                        data: { countryId: countryId },
                        success: function (states) {
                            states.forEach(function (state) {
                                $('#StateId').append('<option value="' + parseInt(state.value) + '">' + state.text + '</option>');
                            });
                        }
                    });
                }
            });

            $('#StateId').change(function () {
                var stateId = $(this).val();
                $("#CityId").empty().append('<option value="">Select City</option>');

                if (stateId) {
                    $.ajax({
                        url: getCityUrl,
                        type: 'GET',
                        data: { stateId: stateId },
                        success: function (cities) {
                            cities.forEach(function (city) {
                                $('#CityId').append('<option value="' + parseInt(city.value) + '">' + city.text + '</option>');
                            });
                        }
                    });
                }
            });



        });

        // Image preview script
        document.getElementById('profileImageInput').addEventListener('change', function () {
            const file = this.files[0];
            if (file) {
                // Show file name
                document.getElementById('selectedFileName').textContent = file.name;

                // Validate file type client-side
                const fileType = file.type.toLowerCase();
                if (fileType !== 'image/jpeg' && fileType !== 'image/jpg') {
                    document.getElementById('selectedFileName').textContent = 'Invalid file type. Only JPG files are allowed.';
                    document.getElementById('selectedFileName').style.color = 'red';
                    this.value = ''; // Clear the file input
                    document.getElementById('imagePreview').style.display = 'none';
                    return;
                }

                // Preview image
                const reader = new FileReader();
                reader.onload = function (e) {
                    const previewImg = document.getElementById('previewImg');
                    previewImg.src = e.target.result;
                    document.getElementById('imagePreview').style.display = 'block';
                }
                reader.readAsDataURL(file);
            } else {
                document.getElementById('selectedFileName').textContent = 'No file selected';
                document.getElementById('imagePreview').style.display = 'none';
            }
        });

        // Your existing AJAX scripts for country, state, city
    </script>





}