@model pizzashop.ViewModels.ChangePasswordViewModel
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User list</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body style="height: 100vh;width: 100%;font-family: Roboto;">


    <div style="display: flex;align-items: self-start;height: 100%;">

        <!--sidebar-->
        <div class="offcanvas-lg offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
            id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel"
            style="padding-left: 20px;padding-right: 20px;width: 300px; display: flex;">


            <div class="offcanvas-header" style="justify-content: end;">





                <button class="btn" type="button" data-bs-toggle="offcanvas" display="none"
                    data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" style=" margin-left: 1%;"
                    aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path
                            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                    </svg></button>

            </div>

            <div>
                <div class="canvas-logo-div"
                    style="justify-content: center;align-items: center;display: flex ;margin-bottom: 30px;"><img
                        src="~/images/logos/pizzashop_logo.png" alt="" style="height: 50px;">&nbsp;&nbsp;<span
                        style="font-weight: 700;font-size: 15px;color: #006cac;">PIZZASHOP</span></div>


                <div>
                    <ul class="nav nav-pills" id="menu">

                        <li>

                            <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                <li class="w-100 sidebar-list">
                                    <a href="#" class="nav-link px-0 link-dark sidebar-listitem">
                                        <div class="d-flex offcanvas-list" style="align-items: center;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-border-all" viewBox="0 0 16 16">
                                                <path
                                                    d="M0 0h16v16H0zm1 1v6.5h6.5V1zm7.5 0v6.5H15V1zM15 8.5H8.5V15H15zM7.5 15V8.5H1V15z" />
                                            </svg>&nbsp;&nbsp;Dashboard
                                        </div>
                                    </a>
                                </li>
                                <li class="w-100 sidebar-list">
                                    <a href="userlist.html" class="nav-link px-0 link-dark sidebar-listitem">
                                        <div class="d-flex offcanvas-list" style="align-items: center;"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                                                <path
                                                    d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4" />
                                            </svg>&nbsp;&nbsp;Users</div>
                                    </a>
                                </li>
                                <li class="w-100 sidebar-list">
                                    <a href="#" class="nav-link px-0 link-dark sidebar-listitem">
                                        <div class="d-flex offcanvas-list" style="align-items: center;"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                                                <path
                                                    d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                                                <path
                                                    d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
                                            </svg>&nbsp;&nbsp;Role and Permission</div>

                                    </a>
                                </li>
                                <li class="w-100 sidebar-list">
                                    <a href="menu.html" class="nav-link px-0 link-dark sidebar-listitem">
                                        <div class="d-flex offcanvas-list" style="align-items: center;"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901" />
                                            </svg>&nbsp;&nbsp;Menu</div>

                                    </a>
                                </li>
                                <li class="w-100 sidebar-list">
                                    <a href="#" class="nav-link px-0 link-dark sidebar-listitem">
                                        <div class="d-flex offcanvas-list" style="align-items: center;"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-square-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z" />
                                            </svg>&nbsp;&nbsp;Table and section</div>
                                    </a>
                                </li>
                                <li class="w-100 sidebar-list">
                                    <a href="#" class="nav-link px-0 link-dark sidebar-listitem">
                                        <div class="d-flex offcanvas-list" style="align-items: center;"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8m5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0" />
                                                <path
                                                    d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195z" />
                                                <path
                                                    d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083q.088-.517.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1z" />
                                                <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 6 6 0 0 1 3.13-1.567" />
                                            </svg>&nbsp;&nbsp;Taxes And Fees</div>
                                    </a>
                                </li>
                                <li class="w-100 sidebar-list">
                                    <a href="#" class="nav-link px-0 link-dark sidebar-listitem">
                                        <div class="d-flex offcanvas-list" style="align-items: center;"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-journal-check" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0" />
                                                <path
                                                    d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2" />
                                                <path
                                                    d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z" />
                                            </svg>&nbsp;&nbsp;Orders</div>
                                    </a>
                                </li>
                                <li class="w-100 sidebar-list">
                                    <a href="#" class="nav-link px-0 link-dark sidebar-listitem">
                                        <div class="d-flex offcanvas-list" style="align-items: center;"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
                                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                                <path
                                                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z" />
                                            </svg>&nbsp;&nbsp;Customers</div>
                                    </a>
                                </li>


                            </ul>
                        </li>



                    </ul>
                </div>

            </div>

        </div>




        <div style="width: 100%;background-color: #fafafa;height: 100%;">

            <!-- navbar -->
            <nav class="navbar" style="padding: 0% !important;">

                <div class="nav-div">
                    <button class="btn btn-primary nav-canvas-btn" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"
                        style=" margin-left: 1%;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                        </svg></button>

                    <div class="navbar-nav nav-pills pe-md-4 flex align-items-center">
                        <div class="nav-item dropdown">
                            <a class="d-block" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                                <img src="~/images/Default_pfp.svg.png" height="45px" width="45px">
                            </a>
                            <div class="dropdown-menu dropdown-menu-end mt-2">
                                <a href="@Url.Action("UserProfile", "Account")" class="dropdown-item" type="button">My
                                    Profile</a>
                                @* <a href="index.html" class="dropdown-item" type="button">Sign Out</a> *@
                                <form asp-action="Logout" method="post">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-danger dropdown-item">Logout</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </nav>

            <!-- userlist -->

            <div style="width: 100%;background-color: #fafafa;margin-top: 40px;">
                <div class="userlist-searchbar"
                    style="display: flex; width: 100%;height: 7%;justify-content: space-between;padding-top: 10px;align-items: center;">
                    <h1 style="margin-left: 3%;color: #006cac;">Change Password</h1>
                   
                </div>
                <div class="content"
                    style="display: flex;align-items: center;padding-top: 40px;">
                    <div style="width: 600px;margin-left: 10%;margin-right: 5%;">
                   
                        <form asp-action="changepassword"  method="post" style="padding-left: 17%;">
    
                           
                            
                            <p style="color: #84878d;font-size: 13px;">Enter a new password to update your account credentials</p>
                             <div style="padding-bottom: 15px;" class="form-group">
    
                                <input type="password" asp-for="Password" 
                                class="login-credents form-control form-control-lg rounded-1" placeholder="password*"
                                required>
                             <span asp-validation-for="Password" class="text-danger"></span>
    
                            </div>
                            <div style="padding-bottom: 15px;">
    
                                <input type="password" asp-for="newPassword"
                                 class="login-credents form-control form-control-lg rounded-1" placeholder="New Password*"
                                     required>
                                    <span asp-validation-for="newPassword" class="text-danger"></span>
                            </div>
                            <div>
                                <input type="password" asp-for="ConfirmPassword"
                                 class="login-credents form-control form-control-lg rounded-1"
                                    placeholder="Confirm New password*" required>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
    
                            <div style="padding-top: 17px;display:flex">
                                <button class="loginpage-btn" type="submit" style="width: 100px;" >Submit</button>
                                 <button class="" type="restart" style="width: 100px;margin-left: 5px;color:#006cac;border:1px solid #006cac;" >Cancel</button>
                            </div>
    
                             
    
                           
                        </form>
                       </div>
                </div>
            </div>





        </div>


    </div>
    </div>
    </div>

    </div>






   







</body>

</html>