@model pizzashop.Models.ViewModels.EditUserViewModel
                <div
                    style="display: flex; width: 100%;height: 7%;justify-content: space-between;padding-top: 50px;align-items: center;">
                    <h1 style="margin-left: 5.2%;color: #006cac;">Edit User</h1>
                    <div style="padding-right: 5.2%;">
                        <a href="@Url.Action("userlist", "Account")"><button
                                style="border: 1px solid skyblue;background-color: white;color: #006cac; width: 80px;height: 42px;margin-bottom: 2px;">
                                < Back </button></a>

                    </div>
                </div>

                <div style="display: flex;justify-content: center;margin-top: 20px;">
                    <div class="row container-fluid"
                        style="width: 90%;background-color: rgba(255, 255, 255, 0.753);margin-top: 15px;">
                        <form asp-action="edituser" method="post">
                            <div class="row container-fluid">
                                <div class="form-floating col adduser-form-coloumn " style="margin-top: 15px;">
                                    <input asp-for="FirstName" type="text" class="form-control" id="floatingInputfirstname"
                                        placeholder="name@example.com">
                                    <label for="floatingInputfirstname" style="margin-left: 10px;">First Name</label>
                                </div>
                                <div class="form-floating col adduser-form-coloumn " style="margin-top: 15px;">
                                    <input asp-for="LastName" type="text" class="form-control" id="floatingInputlastname"
                                        placeholder="name@example.com">
                                    <label for="floatingInputlastname" style="margin-left: 10px;">Last Name</label>
                                </div>

                            </div>
                            <div class="row container-fluid">
                                <div class="form-floating col adduser-form-coloumn " style="margin-top: 15px;">
                                    <input asp-for="UserName" type="text" class="form-control" id="floatingInputusername"
                                        placeholder="name@example.com">
                                        
                                    <label for="floatingInputusername" style="margin-left: 10px;">User Name</label>
                                </div>
                                @* <div class="form-floating col adduser-form-coloumn " style="margin-top: 15px;">

                                    <select id="role" class="form-control">
                                        <option value="">Chef</option>
                                    </select>
                                  
                                </div> *@
                                 <div class="form-floating col adduser-form-coloumn " style="margin-top: 15px;">

                                    <select asp-for="RoleId" id="role" class="form-control">
                                        <option value="1">Admin</option>
                                          <option value="2">Account Manager</option>
                                            <option value="3">Chef</option>
                                    </select>
                                    <label for="role" style="margin-left: 10px;">Role</label>

                                </div>

                            </div>
                            <div class="row container-fluid">
                                <div class="form-floating col adduser-form-coloumn " style="margin-top: 15px;">
                                    <input asp-for="Email" type="email" disabled class="form-control" id="floatingInputemail"
                                        placeholder="name@example.com">
                                          <input asp-for="Email" type="hidden" class="form-control" id="floatingInputemail"
                                        placeholder="name@example.com">
                                    <label for="floatingInputemail" style="margin-left: 10px;">Email</label>
                                </div>
                                @* <div class="form-floating col adduser-form-coloumn " style="margin-top: 15px;">
                                    <input asp-for="Password" type="password" class="form-control" id="floatingInputpass"
                                        placeholder="name@example.com">
                                    <label for="floatingInputpass" style="margin-left: 10px;">password</label>
                                </div> *@

                            </div>
                            @* <div
                                style="margin-top: 10px;border: 1px dotted black; width: 97%;height: 90px;margin-left: 0.8%;justify-content: center;align-items: center;">
                                <div>
                                    <div style="display: flex;margin-top: 5px;" class=" justify-content-center align-items-center">
                                       <div>
                                         <input class=" d-none form-control" type="file" asp-for="MyImage" accept=".jpg, .jpeg, .png" id="imageUpload" required>
                                    <label class="uploadFile" for="imageUpload">
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-none" src="#" alt="User Profile Preview" id="imagePreview" height="75px" width="75px">
                                            <div class="d-flex flex-column align-items-center justify-content-center">
                                                <i class="bi bi-cloud-arrow-up fs-3"></i>
                                                <div class="">Browse files</div>
                                            </div>
                                        </div>   
                                    </label>  
                                       </div>
                                       
                                    </div>
                                   
                                </div>
                            </div> *@
                            
                            

                            @* <div class="row container-fluid">
                                <div class="form-floating col adduser-form-coloumn2" style="margin-top: 15px;">

                                    <select id="country" class="form-control">
                                        <option value="">United States</option>
                                    </select>
                                    
                                </div>
                                <div class="form-floating col adduser-form-coloumn2" style="margin-top: 15px;">

                                    <select id="state" class="form-control">
                                        <option value="">Texas</option>
                                    </select>
                                   
                                </div> 
                                <div class="form-floating col adduser-form-coloumn2" style="margin-top: 15px;">

                                    <select id="city" class="form-control">
                                        <option value="">Housten </option>
                                    </select>
                                   
                                </div>

                            </div> *@

                            <div class="row container-fluid">
                                <div class="form-floating col adduser-form-coloumn2" style="margin-top: 15px;">
                                    <input asp-for="Zipcode" type="number" class="form-control" id="floatingInputzipcode"
                                        placeholder="name@example.com">
                                    <label for="floatingInputzipcode" style="margin-left: 10px;">Zipcode</label>
                                </div>
                                <div class="form-floating col adduser-form-coloumn2" style="margin-top: 15px;">
                                    <input asp-for="Address" type="text" class="form-control" id="floatingInputadress"
                                        placeholder="name@example.com">
                                    <label for="floatingInputadress" style="margin-left: 10px;">Adress</label>
                                </div>
                                <div class="form-floating col adduser-form-coloumn2" style="margin-top: 15px;">
                                    <input asp-for="Phone" type="number" class="form-control" id="floatingInputphone"
                                        placeholder="name@example.com">
                                    <label for="floatingInputphone" style="margin-left: 10px;">Phone</label>
                                </div>

                            </div>

                            <div style="margin-top: 20px;margin-bottom: 20px;">
                                <button type="submit" class="btn" style="background-color: #006cac;color: white;">Update</button>
                                <button type="reset" class="btn" style="background-color: white;border: 1px solid #006cac;color: #006cac;">cancel</button>
                                
                            </div>
                            
                        </form>

                    </div>

                </div>



