* {
  font-family: "Roboto", serif;
}
/* loginpage */

@media screen and (max-width: 700px) {
  .loginpage-image-container {
    display: none;
  }

  .loginpage-formdiv {
    width: 100%;
    height: 100vh !important;
    padding-bottom: 20%;
  }
}

@media screen and (max-width: 496px) {
  .loginpage-formdiv {
    width: 100% !important;
    height: 100vh !important;
    padding-bottom: 20%;
  }
}

.login-credents {
  width: 80%;
  height: 40px;
  border: none;
  padding-left: 10px;
}

.loginpage-formdiv {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #daf0f8;
  height: 100vh;
}

.loginpage-image-container {
  height: 100vh;
  min-width: 340px;
  padding-right: 0%;
  padding-left: 0%;
}

.pizzashop-loginpage-logo {
  justify-content: center;
  align-items: center;
  display: flex;
}

.loginpage-wlcm-txt {
  /* font-weight: 500; */
  font-size: 25px;
  padding-top: 25px;
}

.loginpage-btn {
  width: 80%;
  background-color: #006cac;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #006cac;
  padding: 0.6rem 0.8rem 0.6rem 0.8rem;
  transition: all 0.3s ease;
}

/* sidebar */

.sidebar-list {
  margin-top: 10px;
}

/* navbar */

.nav-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #006cac;
  height: 60px;
}

.nav-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 1%;
}

@media screen and (min-width: 992px) {
  .nav-canvas-btn {
    display: none;
  }

  .nav-div {
    justify-content: flex-end !important;
  }

  .canvas-logo-div {
    margin-top: 70px;
  }
}

.offcanvas-list {
  height: 40px;
  padding-left: 5px;
}

.offcanvas-list:hover {
  color: #006cac;
  font-weight: bold;
  background-color: #eaebec;
}

/* userlist */

@media screen and (max-width: 460px) {
  .userlist-searchbar {
    display: block !important;
  }
  .search-add {
    margin-left: 10px;
  }
}

.adduser-btn {
  /* background-color: #006cac; */
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #006cac;
  padding: 0.6rem 0.8rem 0.6rem 0.8rem;
  transition: all 0.3s ease;
}

.userlist-table-profile-image {
  height: 10px;
  width: 10px;
  margin-bottom: 1px;
}

.userlist-table-status {
  display: inline-flex;
  background-color: #9ed669;
  padding: 0.2rem 1.5rem;
  color: white;
  border-radius: 30px;
}

/* .userlist-table-status-inactive {
  display: inline-flex;
  background-color: #fb2929;
  padding: 0.2rem 1.5rem;
  color: white;
  border-radius: 30px;
} */

/* addnewuser */
.adduser-form-coloumn {
  margin-top: 15px;
  width: 50%;
  min-width: 250px;
}

.adduser-form-coloumn2 {
  width: 33%;
  min-width: 250px;
}

/*role permission*/

.toggleSwitch input {
  background-color: #f3f3f3;
  border: 1px solid #006cac;
  padding: 0.7rem 1.3rem;
}

.toggleSwitch input:focus {
  box-shadow: none;
}

.toggleSwitch input:checked {
  background-color: #006cac;
}

.roleHolder {
  position: relative;
  border: 1px solid #006cac;
  border-radius: 4px;
  max-width: 450px;
}

.roleHolder input {
  color: #727b83;
}

.roleHolder label {
  background-color: transparent;
}

.roleHolder > .form-control:not(:placeholder-shown) {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  background-color: #f3f3f3;
}

.roleHolder > .form-control:disabled ~ label::after {
  background-color: white;
}

.roleHolder > .form-control:not(:placeholder-shown) ~ label {
  transform: scale(0.75) translateY(-1.8rem) translateX(0.15rem);
}

* {
  font-family: "Roboto", serif;
}

/* menu-category-item */
#menu {
  padding: 1rem;
}

#menu .secondaryContainer {
  background-color: #f8f9fa;
  padding: 0.5rem;
}

#menu .tableList tr th {
  background-color: transparent;
  color: #727b83;
  padding: 0.7rem 0.8rem;
}

#menu .tableList tr td {
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  color: #727b83;
  padding: 0.5rem 0.8rem;
}

#menu .tableList .table-group-divider {
  color: #727b83;
}

#menu .listImgField {
  display: flex;
  align-items: center;
}

#menu .listImg {
  height: 35px;
  width: 35px;
  margin-right: 8px;
}

#menu .menubtn {
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: #727b83;
  margin-right: 5px;
}

#menu .customBtnPrimary {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #006cac;
  padding: 0.6rem 0.8rem 0.6rem 0.8rem;
  transition: all 0.3s ease;
}

#menu .customBtnSecondary {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: 1px solid #006cac;
  color: #006cac;
  border-radius: 3px;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  transition: all 0.3s ease;
  background-color: transparent;
}

#menu .customPagination #prePageBtn,
.customPagination #nextPageBtn {
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

#menu .customPagination #prePageBtn:hover,
.customPagination #nextPageBtn:hover {
  filter: brightness(0.9);
}

#menu .customPagination select:focus {
  box-shadow: none;
}

#menu .passwordField i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
}

#menu .uploadFile {
  border: 1px dashed #727b83;
  border-radius: 5px;
  width: 100%;
  padding: 1rem;
}

#menu .menubar ul li a {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 0px 10px;
  color: black;
  border: none;
  border-bottom: 2px solid transparent;
}

#menu .menubar ul .active a {
  color: #006cac;
  font-weight: 700;
  border-bottom: 2px solid;
}

#menu .menubar ul li a:hover {
  color: #006cac;
  border-bottom: 2px solid #006cac;
}

#menu .categorys {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu .categorys li {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.3rem 0.6rem;
}

#menu .categorys li a {
  padding: 0.6rem 0rem;
}

#menu .categorys li a {
  font-weight: 600;
  color: #727b83;
}

#menu .categorys li:hover {
  background-color: white;
}

#menu .categorys .active a {
  color: #006cac;
}

#menu .categorys li a:hover {
  color: #006cac;
}

#menu .categorys li .categoryAction {
  display: none;
}

#menu .categorys li:hover .categoryAction {
  display: block;
}

.modifier-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.modifier {
  background-color: #f1f1f1;
  padding: 5px 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.modifier span {
  margin-left: 5px;
  cursor: pointer;
  font-weight: bold;
  color: red;
}
