
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    "
  >
    <div
      style="
        max-width: 600px;
        margin: 20px auto;
        background: #fafafa;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      "
    >
      <div style="background: #0056a6; padding: 15px; text-align: center">
        <img
          src="/wwwroot/images/logos/pizzashop_logo.png"
          alt=""
          style="height: 50px"
        />&nbsp;&nbsp;
        <h2 style="color: white; margin: 0">PIZZASHOP</h2>
      </div>
      <div style="padding: 20px">
        <p style="margin: 0 0 10px">Welcome to Pizza shop,</p>
        <p style="margin: 0 0 10px">Plese find the details below for login into your account</p>
        <div style="width: 500px;border: 2px solid black;">
            <h5 style="margin-left: 10px;margin-top: 10px;">Login Details</h3>
            <h6 style="margin-left: 10px;margin-top: 10px;">Username:{email}</h4>
            <h6 style="margin-left: 10px;margin-top: 10px;margin-bottom: 10px;">Temporary Password:{password}</h4>
        </div>
        <p style="margin: 0 0 10px;margin-top: 10PX;">
          If you encounter any issues or have any question, please do not
          hastiаte to contact our support team.
        </p>
      
      </div>
    </div>
  </body>
</html>
